[Unit]
Description=A looper container
After=time-sync.target
Wants=time-sync.target systemd-time-wait-sync.service

[Container]
ContainerName=looper
Image=ghcr.io/unitexe/looper:latest

[Service]
Restart=on-failure
RestartSec=10s
RestartSteps=5
RestartMaxDelaySec=1min
TimeoutStartSec=15min

[Install]
WantedBy=multi-user.target default.target
