[Unit]
Description=A looper container
After=time-sync.target
Wants=time-sync.target systemd-time-wait-sync.service

[Container]
ContainerName=looper
Image=ghcr.io/unitexe/looper:latest

[Install]
WantedBy=multi-user.target default.target
